body {
    background-image: url(../images/background.jpg);
    background-position: top;
    background-attachment: scroll;
    margin: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.display-1 {
    background-image: linear-gradient(45deg, red, orange);
    text-align: center;
    border: 6px solid black;
    color: white;

}

#mainTimer {
    text-align: center;
}

.button {
    text-align: center;
}

.questions {
        background-image: url(../images/240_F_224032170_7PfrDJYWjCw4Rs1WFvhPkiSPuD02sw1q.jpg);
        position: absolute;
        color: white;
        padding: 20px;
        border-width: 12px;
        font-variant: small-caps;
        font-weight: bold;
        height: 200px;
        width: 400px;
        margin: -100px 0 0 -200px;
        top: 50%;
        left: 50%;
        border: black 3px;
    }